<section id="about-me" class="w-full hauto sm:h-screen flex flex-col items-center justify-center text-primary mr-6 mb-16 sm:mb-0">
  <h1 class="font-bold text-4xl pt-8 pb-6 z-10">About Me</h1>

  <div id="about-me" class="w-full h-auto max-w-3xl flex flex-col flex-wrap justify-center gap-4 px-6 z-10">
    <p class="text-black text-pretty sm:text-xl">Hello! I'm <span class="text-primary font-medium">Víctor Ángel López Romero, a 20-year-old technology enthusiast from Guanajuato, Mexico.</span> My fascination with Artificial Intelligence (AI) started while I was in university. I was amazed by how AI could perform seemingly complex tasks. Is it magic or something more? After some research, <span class="text-primary font-medium">I discovered that AI is actually a combination of pure mathematics, algorithms, logical reasoning, and immense computing power.</span>
    </p>
    <p class="text-black text-pretty sm:text-xl">
      This revelation fascinated me because <span class="text-primary font-medium">I found a field where I could apply all my mathematical knowledge</span> and unlock its true potential.
      Combining Artificial Intelligence with web development, with <span class="text-primary font-medium">JavaScript being my first programming language</span>, I aim to create <span class="text-primary font-medium">applications that improve people's productivity</span>, helping them save time.
    </p>
  </div>
</section>
