<footer class="w-full h-40 sm:h-auto pt-8 flex flex-col items-center justify-center text-primary mr-6 border border-gray-200 z-10">
  <div class="flex flex-row z-10 gap-4 mb-4">
    <a href="https://github.com/VictorWKey" target="_blank"  rel="noopener">
      <figure class="z-10">
        <img class="size-6" src="../../public/icons/GitHub.svg" alt="">
      </figure>
    </a>
    <a href="https://www.linkedin.com/in/victor-angel-lopez-romero-556605245/" target="_blank"  rel="noopener">
      <figure class="z-10">
        <img class="size-6" src="../../public/icons/LinkedInBlack.svg" alt="">
      </figure>
    </a>
    <a href="https://twitter.com/victorwkey" target="_blank"  rel="noopener">
      <figure class="z-10 bg-black size-6 rounded-full flex justify-center items-center">
        <img class="size-3" src="../../public/icons/X.svg" alt="">
      </figure>
    </a>
    <a href="https://www.instagram.com/victorwkey/" target="_blank"  rel="noopener">
      <figure class="z-10">
        <img class="size-6" src="../../public/icons/Instagram.svg" alt="">
      </figure>
    </a>
    <a href="https://www.facebook.com/profile.php?id=61557229064845" target="_blank"  rel="noopener">
      <figure class="z-10">
        <img class="size-6 text-gr" src="../../public/icons/FacebookBlack.svg" alt="">
      </figure>
    </a>
  </div>
  <a href="https://github.com/VictorWKey/Portfolio-Official" class="text-black pt-4 text-xs pb-8 hover:underline z-10" target="_blank" rel="noopener">Repositorio del portafolio</a>
</footer>