---
import GitHub from "../icons/GitHub.astro"
import LinkedInBlack from "../icons/LinkedInBlack.astro"
import X from '../icons/X.astro'
import Instagram from '../icons/Instagram.astro'
import FacebookBlack from '../icons/FacebookBlack.astro'
---

<footer class="w-full h-40 sm:h-auto pt-8 flex flex-col items-center justify-center text-primary mr-6 border border-gray-200 z-10">
  <div class="flex flex-row z-10 gap-4 mb-4">
    <a href="https://github.com/VictorWKey" target="_blank"  rel="noopener">
      <figure class="z-10 size-6">
        <GitHub/>
      </figure>
    </a>
    <a href="https://www.linkedin.com/in/victor-angel-lopez-romero-556605245/" target="_blank"  rel="noopener">
      <figure class="z-10 size-6">
        <LinkedInBlack/>
      </figure>
    </a>
    <a href="https://twitter.com/victorwkey" target="_blank"  rel="noopener">
      <figure class="z-10 bg-black rounded-full flex justify-center items-center size-6">
        <X/>
      </figure>
    </a>
    <a href="https://www.instagram.com/victorwkey/" target="_blank"  rel="noopener">
      <figure class="z-10 size-6">
        <Instagram/>
      </figure>
    </a>
    <a href="https://www.facebook.com/profile.php?id=61557229064845" target="_blank"  rel="noopener">
      <figure class="z-10">
        <FacebookBlack/>
      </figure>
    </a>
  </div>
  <a href="https://github.com/VictorWKey/Portfolio-Official" class="text-black pt-4 text-xs pb-8 hover:underline z-10" target="_blank" rel="noopener">Click aquí para ir al repositorio del portafolio.</a>
</footer>