<footer class="w-full h-40 sm:h-auto pt-8 flex flex-col items-center justify-center text-primary mr-6 border border-black ">
  <div class="flex flex-row z-10 gap-4 mb-4">
    <figure class="z-10">
      <img class="size-10" src="../../public/icons/GitHub.svg" alt="">
    </figure>
    <figure class="z-10">
      <img class="size-10" src="../../public/icons/LinkedInBlack.svg" alt="">
    </figure>
    <figure class="z-10 bg-black size-10 rounded-full flex justify-center items-center">
      <img class="size-5" src="../../public/icons/X.svg" alt="">
    </figure>
    <figure class="z-10">
      <img class="size-10" src="../../public/icons/Instagram.svg" alt="">
    </figure>
    <figure class="z-10">
      <img class="size-10" src="../../public/icons/FacebookBlack.svg" alt="">
    </figure>
  </div>
  <p class="text-black pt-4 text-xs pb-8 underline">Repositorio del portfolio</p>
</footer>