---
import GithubWhite from "../icons/GithubWhite.jsx"
import X from '../icons/X.jsx'
import InstagramWhite from '../icons/InstagramWhite'
import FacebookWhite from '../icons/FacebookWhite.jsx'
import LinkedInWhite from "../icons/LinkedInWhite.jsx"
import XWhite from "../icons/XWhite.jsx"
---

<footer class="w-full h-40 sm:h-auto pt-8 flex flex-col items-center justify-center text-primary mr-6 border border-gray-200 z-10">
  <div class="flex flex-row z-10 gap-4 mb-12">
    <a href="https://github.com/VictorWKey" target="_blank"  rel="noopener">
      <figure class="z-10 size-6">
        <GithubWhite/>
      </figure>
    </a>
    <a href="https://www.linkedin.com/in/victor-angel-lopez-romero-556605245/" target="_blank"  rel="noopener">
      <figure class="z-10 size-6">
        <LinkedInWhite/>
      </figure>
    </a>
    <a href="https://twitter.com/victorwkey" target="_blank"  rel="noopener">
      <figure class="z-10 bg-none rounded-full flex justify-center items-center size-6">
        <X/>
      </figure>
    </a>
    <a href="https://www.instagram.com/victorwkey/" target="_blank"  rel="noopener">
      <figure class="z-10 size-6">
        <InstagramWhite/>
      </figure>
    </a>
    <a href="https://www.facebook.com/profile.php?id=61557229064845" target="_blank"  rel="noopener">
      <figure class="z-10 size-6">
        <FacebookWhite/>
      </figure>
    </a>
  </div>
</footer>