---
import Etiqueta from './Etiqueta.astro';
import Badge from './Badge.astro';
---

<main id="top" class="w-full h-screen flex justify-center items-center">
  <div class="w-auto max-w-80 sm:max-w-5xl flex max-sm:flex-col justify-center items-center gap-6">
    <div>
      <figure class="w-44 h-44 sm:size-60 rounded-full border-4 border-primary overflow-hidden relative">
        <img
          src="../../public/pp.png"
          alt="Foto de Victor"
          class="object-cover w-64 h-64 sm:size-96 absolute top-[-60px] left-[-4px] sm:top-[-100px]"
        >
      </figure>
    </div>
    <div class="flex flex-col gap-6">
      <div class="flex gap-4 items-center flex-wrap">
        <h1 class="text-5xl font-bold text-primary gap-2"><span class="text-black">Hey, soy </span>Víctor López </h1>
        <div><Badge href = 'https://www.linkedin.com/in/victor-angel-lopez-romero-556605245/'>Disponible para trabajar</Badge></div>
      </div>
      
      <h2 class="text-3xl font-semibold text-pretty">Desarrollador Web Frontend y Especialista en Inteligencia Artificial</h2>
      <h3 class="font-light text-xl text-pretty">De Guanajuato, México. Transformando ideas en realidad con <span class="text-primary">soluciones creativas</span> y de calidad en el <span class="text-primary">desarrollo frontend</span> y la <span class="text-primary">inteligencia artificial</span></h3>
      <div class="flex gap-5 flex-wrap">
        <Etiqueta img="../../public/github-icon.svg" text='GitHub' link='https://github.com/VictorWKey'/>
        <Etiqueta img="../../public/linkedin-icon.svg" text='Linkedin' link = 'https://www.linkedin.com/in/victor-angel-lopez-romero-556605245/'/>
        <button class="py-1 px-4 bg-primary text-white rounded-lg text-xl transform transition-transform hover:scale-110">Descargar CV</button>
      </div>
      
    </div>
  </div>
</main>

