<nav class="z-10 bg-white flex justify-left sm:justify-center items-center gap-12 py-2 px-4 border-4 border-b-primary fixed top-0 w-full">
    <a href="#top"class="hidden sm:font-semibold sm:text-gray-800 sm:flex sm:cursor-pointer hover:text-primary ">Inicio</a>
    <a href="#projects"class="hidden sm:font-semibold sm:text-gray-800 sm:flex sm:cursor-pointer hover:text-primary">Proyectos</a>
    <a href="#skills" class="hidden sm:font-semibold sm:text-gray-800 sm:flex sm:cursor-pointer hover:text-primary">Habilidades</a>

    <a href="#about-me"class="hidden sm:font-semibold sm:text-gray-800 sm:flex sm:cursor-pointer hover:text-primary ">Sobre mi</a>
 
    <a href="#contact-me" class="hidden sm:font-semibold sm:text-gray-800 sm:flex sm:cursor-pointer hover:text-primary">Contactame</a>
    <a>
      <img class="flex sm:hidden" src="../../utility-icons/menu_icon.svg">
    </a>
</nav>