---
const {logoPath, logoName} = Astro.props;
---

<div class="bg-gray-50 size-24 flex flex-col gap-2 p-2 rounded-lg border-2 border-gray-200 justify-center items-center">
  <img class="size-8" src={logoPath} alt="">
  <p class="text-xs text-pretty text-black text-center font-light">{logoName}</p>
</div>