---
import SkillsContainer from "./SkillsContainer.astro";
import JavaScript from "../icons/JavaScript.astro";
import HTML from "../icons/HTML.astro";
import CSS from "../icons/CSS.astro";
import ReactLogo from "../icons/ReactLogo.astro";
import AstroLogo from "../icons/AstroLogo.astro";
import Tailwind from "../icons/Tailwind.astro";
import TypeScript from "../icons/TypeScript.astro";
import Python from "../icons/Python.astro";
import ML from "../icons/ML.astro";
import SkLearn from "../icons/SkLearn.astro";
import SciPy from "../icons/Scipy.astro";
import Pandas from "../icons/Pandas.astro";
import NumPy from "../icons/NumPy.astro";
import Matplotlib from "../icons/Matplotlib.astro";
import Seaborn from "../icons/Seaborn.astro";
import HuggingFace from "../icons/HuggingFace.astro";
import Algebra from "../icons/Algebra.astro";
import Statistics from "../icons/Statistics.astro";
import Probability from "../icons/Probability.astro";
import Calculus from "../icons/Calculus.astro";
import LinearAlgebra from "../icons/LinearAlgebra.astro";
import ExploratoryData from "../icons/ExploratoryData.astro";
import TreatmentMissing from "../icons/TreatmentMissing.astro";
import MySQL from "../icons/MySQL.astro";
import PostgreSQL from "../icons/PostgreSQL.astro";
import Git from "../icons/Git.astro";
import Linux from "../icons/Linux.astro";
import Anaconda from "../icons/Anaconda.astro";
import NPM from "../icons/NPM.astro";
import VSC from "../icons/VSC.astro";
import Markdown from "../icons/Markdown.astro";

const SKILLS = {
  JavaScript: {
    name : "JavaScript",
    logo: JavaScript,
    category : "web",
    color: "",
    description: ""
  },
  HTML: {
    name : "HTML",
    logo: HTML,
    category : "web",
    color: "",
    description: ""
  },
  CSS: {
    name : "CSS",
    logo: CSS,
    category : "web",
    color: "",
    description: ""
  },
  React: {
    name : "React",
    logo: ReactLogo,
    category : "web",
    color: "",
    description: ""
  },
  Tailwind: {
    name : "Tailwind",
    logo: Tailwind,
    category : "web",
    color: "",
    description: ""
  },
  TypeScript: {
    name : "TypeScript",
    logo: TypeScript,
    category : "web",
    color: "",
    description: ""
  },
  Astro: {
    name : "Astro",
    logo: AstroLogo,
    category : "web",
    color: "",
    description: ""
  },
  Python: {
    name : "Python",
    logo: Python,
    category : "ia",
    color: "",
    description: ""
  },
  MachineLearning: {
    name : "Machine Learning",
    logo: ML,
    category : "ia",
    color: "",
    description: ""
  },
  scikitlearn: {
    name : "scikit-learn",
    logo: SkLearn,
    category : "ia",
    color: "",
    description: ""
  },
  SciPy: {
    name : "SciPy",
    logo: SciPy,
    category : "ia",
    color: "",
    description: ""
  },
  Pandas: {
    name : "Pandas",
    logo: Pandas,
    category : "ia",
    color: "",
    description: ""
  },
  Numpy: {
    name : "Numpy",
    logo: NumPy,
    category : "ia",
    color: "",
    description: ""
  },
  Matplotlib: {
    name : "Matplotlib",
    logo: Matplotlib,
    category : "ia",
    color: "",
    description: ""
  },
  Seaborn: {
    name : "Seaborn",
    logo: Seaborn,
    category : "ia",
    color: "",
    description: ""
  },
  HuggingFace: {
    name : "HuggingFace",
    logo: HuggingFace,
    category : "ia",
    color: "",
    description: ""
  },
  Algebra: {
    name : "Algebra",
    logo: Algebra,
    category : "ia",
    color: "",
    description: ""
  },
  Statistics: {
    name : "Statistics",
    logo: Statistics,
    category : "ia",
    color: "",
    description: ""
  },
  Probability: {
    name : "Probability",
    logo: Probability,
    category : "ia",
    color: "",
    description: ""
  },
  Calculus: {
    name : "Calculus",
    logo: Calculus,
    category : "ia",
    color: "",
    description: ""
  },
  LinearAlgebra: {
    name : "Linear Algebra",
    logo: LinearAlgebra,
    category : "ia",
    color: "",
    description: ""
  },
  ExploratoryDataAnalysis: {
    name : "Exploratory Data Analysis",
    logo: ExploratoryData,
    category : "ia",
    color: "",
    description: ""
  },
  TreatmentOfMissingData: {
    name : "Treatment of Missing Data",
    logo: TreatmentMissing,
    category : "ia",
    color: "",
    description: ""
  },
  MySQL: {
    name : "MySQL",
    logo: MySQL,
    category : "db",
    color: "",
    description: ""
  },
  PostgreSQL: {
    name : "PostgreSQL",
    logo: PostgreSQL,
    category : "db",
    color: "",
    description: ""
  },
  Git: {
    name : "Git",
    logo: Git,
    category : "tool",
    color: "",
    description: ""
  },
  Linux: {
    name : "Linux/WSL",
    logo: Linux,
    category : "tool",
    color: "",
    description: ""
  },
  Conda: {
    name : "Conda",
    logo: Anaconda,
    category : "tool",
    color: "",
    description: ""
  },
  npm: {
    name : "npm",
    logo: NPM,
    category : "tool",
    color: "",
    description: ""
  },
  VSC: {
    name : "VSC",
    logo: VSC,
    category : "tool",
    color: "",
    description: ""
  },
  Markdown: {
    name : "Markdown",
    logo: Markdown,
    category : "tool",
    color: "",
    description: ""
  }
}



---

<section id="skills" class="w-full h-auto flex flex-col items-center pt-8 text-primary mr-6 z-10">
  <h1 class="pt-8 pb-6 text-4xl font-bold z-10">Skills</h1>
  <!-- [<SKILLS.JavaScript.logo />, <SKILLS.HTML.logo />] -->
  <div class="w-full max-w-3xl flex flex-col flex-wrap justify-center z-10 text-pretty">
    <SkillsContainer title="Data and Machine Learning">
      {
        Object.values(SKILLS).filter(skill => skill.category === "ia").map((skill) => (
          <div class="bg-gray-50 size-24 flex flex-col gap-2 p-2 rounded-lg border-2 border-gray-200 justify-center items-center">
            <div class="size-8">
              <skill.logo />
            </div>
            <p class="text-xs text-pretty text-black text-center font-light">{skill.name}</p>
          </div>
        ))
      }
    </SkillsContainer>
    <SkillsContainer title="Web Development">
      {
        Object.values(SKILLS).filter(skill => skill.category === "web").map((skill) => (
          <div class="bg-gray-50 size-24 flex flex-col gap-2 p-2 rounded-lg border-2 border-gray-200 justify-center items-center">
            <div class="size-8">
              <skill.logo />
            </div>
            <p class="text-xs text-pretty text-black text-center font-light">{skill.name}</p>
          </div>
        ))
      }
    </SkillsContainer>
    <SkillsContainer title="Tools">
      {
        Object.values(SKILLS).filter(skill => skill.category === "tool").map((skill) => (
          <div class="bg-gray-50 size-24 flex flex-col gap-2 p-2 rounded-lg border-2 border-gray-200 justify-center items-center">
            <div class="size-8">
              <skill.logo />
            </div>
            <p class="text-xs text-pretty text-black text-center font-light">{skill.name}</p>
          </div>
        ))
      }
    </SkillsContainer>
    <SkillsContainer title="Databases">
      {
        Object.values(SKILLS).filter(skill => skill.category === "db").map((skill) => (
          <div class="bg-gray-50 size-24 flex flex-col gap-2 p-2 rounded-lg border-2 border-gray-200 justify-center items-center">
            <div class="size-8">
              <skill.logo />
            </div>
            <p class="text-xs text-pretty text-black text-center font-light">{skill.name}</p>
          </div>
        ))
      }
    </SkillsContainer>
</section>