<section class="w-full h-auto sm:h-screen flex flex-col items-center justify-center text-primary mr-6">
  <h1 class="font-bold text-4xl pt-8 pb-6">Sobre mi</h1>

  <div id="sobre-mi" class="w-full h-auto max-w-4xl flex flex-col flex-wrap justify-center gap-4 px-6">
    <p class="text-black text-pretty">¡Hola! Soy <span class="text-primary font-medium">Víctor Ángel López Romero, un entusiasta de la tecnología de 20 años de edad, originario de Guanajuato, México.</span> Mi fascinación por la Inteligencia Artificial (IA) comenzó mientras estaba en la universidad. Me sorprendió cómo la IA podía realizar acciones aparentemente tan complejas. ¿Será magia o algo más? Investigando un poco, <span class="text-primary font-medium">descubrí que la IA es en realidad una combinación de matemáticas puras, algoritmos, razonamiento lógico y un gran poder de computación.</span> 
    </p>
    <p class="text-black text-pretty">
      Esta revelación me fascinó, ya que <span class="text-primary font-medium">encontré un campo donde podía aplicar todos mis conocimientos matemáticos</span> y descubrir su verdadero potencial.
      Combinando la Inteligencia Artificial con el desarrollo web, siendo <span class="text-primary font-medium">JavaScript mi primer lenguaje de programación</span>, busco crear <span class="text-primary font-medium">aplicaciones que mejoren la productividad</span> de las personas, ayudándoles a ahorrar tiempo.
    </p>
  </div>
</section>