---
import "@fontsource-variable/onest";
interface Props {
	title: string;
	description: string;
}

const { description,  title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}/>
		<meta property="og:image" content="../../fb-image.png">
		<meta property="twitter:image" content="../../fb-image.png">
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
		<link rel="icon" type="image/svg+xml" href="../../img/pp-official-circular.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[#121E30]">
		<!-- <div class="fixed z-0 h-full w-full bg-white"><div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)]"></div></div> -->
		<slot />
	</body>
</html>

<style>
	html {
		scroll-behavior: smooth;
	}
	body {
  	font-family: 'Onest Variable', sans-serif;
	}

</style>
