---
import "@fontsource-variable/onest";
interface Props {
	title: string;
	description: string;
}

const { description,  title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}/>
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		
		<slot />
	</body>
</html>

<style>
	html {
		scroll-behavior: smooth;
	}
	body {
  	font-family: 'Onest Variable', sans-serif;
    background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #66ff85 150%); /* Cambia el color de #66ff85 a tu tono de verde preferido */
    background-color: #66ff85; /* Fallback color */
    background-attachment: fixed;/* Mantener el fondo fijo mientras se desplaza */
	}
</style>
